/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Default style */
* {
  font-family: "Open Sans", sans-serif;
  transition: 0.2s linear;
  color: #fff;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Home section  */
#home-section {
  background: url("../images/hero-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
/* Navbar */
.navbar-section {
  padding-top: 0.8rem;
}
/* Navbar logo  */
#nav-logo {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}
/* Navbar links  */
#navbar-links {
  width: 68%;
  justify-content: center;
}
#navbar-links li a {
  color: #ffffff;
  margin-right: 2.5rem;
}
#navbar-links li a:hover {
  color: #ffbe33;
}
.home-clr {
  color: #ffbe33;
}
/* Navbar Icons */
.nav-icons a i {
  color: #fff;
  margin-right: 0.8rem;
}
.nav-icons a i:hover {
  color: #e69c00;
}
/* Navbar button */
.default-btn {
  color: #fff6f6;
  background-color: #ffbe33;
  padding: 0.5rem 1.6rem;
  border-radius: 3rem;
  border: none;
}
.default-btn:hover {
  background-color: #e69c00;
}

/* Slider section */
#slider-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#slider-section .carousel-indicators {
  position: absolute;
  top: unset;
  right: unset;
  left: unset;
  bottom: -100px;
  margin: 0;
}
#slider-section .carousel-indicators button {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
}
.slider-content {
  width: 50%;
}
.slider-content h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
}
.carousel-indicators .active {
  background-color: #e69c00;
  width: 1.2rem !important;
  height: 1.2rem !important;
}
.carousel-inner {
  overflow: visible;
}

/* Offer section */
#offer-section {
  padding-block: 5rem;
}
.box {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem 1rem;
  border-radius: 0.5rem;
}
.box .img-box {
  width: 175px;
  height: 175px;
  border: 0.3rem solid #ffbe33;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.8rem;
}
.box .img-box img {
  width: 100%;
}
.box:hover .img-box img {
  transform: scale(1.1);
}
.details-box h5 {
  font-family: "Dancing Script", cursive;
  font-size: 1.6rem;
}
.details-box h6 {
  font-family: "Dancing Script", cursive;
  font-size: 1rem;
}
.details-box h6 span {
  font-size: 2.4rem;
  font-family: "Dancing Script", cursive;
}
.details-box button i {
  margin-left: 0.4rem;
}

/* Food section */
#food-section {
  padding-bottom: 5rem;
}
.food-heading h2 {
  font-size: 2.6rem;
  font-family: "Dancing Script", cursive;
  color: #0c0c0c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.8rem 0 1.3rem 0;
}
.nav-tabs {
  border: none;
}
.nav-tabs .nav-link {
  background-color: transparent;
  color: #0c0c0c;
  margin-right: 1.5rem;
  padding: 0.5rem 1.4rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}
.nav-tabs .nav-link.active {
  background-color: #222831;
  color: #fff;
  transition: background 0.3s;
}
/* Filter menu content */
.food-box {
  background-color: #222831;
  border-radius: 1.4rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.food-box .food-img {
  padding: 1.8rem;
  background-color: #f1f2f3;
  text-align: center;
  border-bottom-left-radius: 2.4rem;
}
.food-box:hover .food-img img {
  transform: scale(1.1);
}
.food-box .food-img img {
  max-width: 100%;
  height: 145px;
}
.food-details {
  padding: 1.5rem;
}
.food-details h5 {
  font-size: 1.4rem;
  font-weight: 600;
}
.food-details p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.food-details .food-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-details .food-options a {
  background-color: #ffbe33;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  cursor: pointer;
}
.content {
  opacity: 0;
  scale: 0;
  /* transform: translateY(20px); */
  transition: all 0.8s ease-in-out;
}

.content.show {
  opacity: 1;
  scale: 1;
  /* transform: translateY(0); */
}
.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  #food-section {
    padding-bottom: 5rem;
  }
}
.btn-box a {
  text-decoration: none;
  padding-inline: 3rem;
}

/* About section */
#about-section {
  padding: 5rem 0;
  background-color: #222831;
}
.about-img img {
  width: 100%;
  max-width: 445px;
}
.about-details {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-details h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.6rem;
  margin: 0;
}
.about-details p {
  margin-block: 1rem;
}
.about-details a {
  width: fit-content;
  text-decoration: none;
  margin-top: 1rem;
}

/* Book section */
#book-section {
  padding: 5rem 0;
}
.book-heading {
  margin-bottom: 1.6rem;
}
.book-heading h2 {
  font-family: "Dancing Script", cursive;
  font-size: 2.8rem;
  color: #0c0c0c;
}
.form-container button {
  padding-inline: 3rem;
  margin-top: 1rem;
}
.form-control {
  height: 3.2rem;
  color: #0c0c0c;
  background-color: aliceblue;
  margin-bottom: 1.6rem;
}
.form-select {
  height: 3.2rem;
  background-color: aliceblue;
  margin-bottom: 1.6rem;
}
.form-select:focus {
  background-color: #fff;
}
.form-select option {
  color: #000;
}
.map-container iframe {
  border-radius: 1rem;
  width: 100%;
  max-height: 450px;
}

/* Client section */
#client-section {
  padding: 5rem 0;
}
.client-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.8rem;
}
.client-header h2 {
  color: #0c0c0c;
  font-family: "Dancing Script", cursive;
  font-size: 2.6rem;
}
.slider-wrap {
  overflow: hidden;
}
.client-box {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.client-details {
  background-color: #222831;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 50%;
}
.client-details h6 {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: "Dancing Script", cursive;
}
.client-details p {
  width: 80%;
}
.client-img {
  border: 0.4rem solid #e69c00;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-right: 1rem;
}
.client-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.btn-control {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.carousel-control-prev {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #e69c00;
  border-radius: 50%;
  margin-right: 1rem;
}
.carousel-control-next {
  position: relative;
  height: 50px;
  width: 50px;
  background-color: #e69c00;
  border-radius: 50%;
}

/* Footer Section */
#footer-section {
  background-color: #222831;
  padding-block: 5rem 3rem;
}
#footer-section .row {
  align-items: center;
  text-align: center;
}
.footer-col {
  margin-bottom: 1.8rem;
}
.footer-contact h4 {
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  font-weight: 600;
}
.contact-link {
  display: flex;
  flex-direction: column;
}
.contact-link a {
  margin-block: 0.4rem;
  color: #fff;
  text-decoration: none;
}
.contact-link a:hover {
  color: #ffbe33;
}
.contact-link i {
  margin-right: 0.4rem;
}
.contact-link a:hover i {
  color: #ffbe33;
}
.footer-detail a {
  display: inline-block;
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.2rem;
  font-weight: bold;
}
.footer-detail p {
  color: #dbdbdb;
}
.footer-social i {
  font-size: 1.5rem;
}
.footer-social i:hover {
  color: #ffbe33;
}
.footer-extra h4 {
  font-size: 1.8rem;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.footer-extra p {
  color: #dbdbdb;
}
.footer-info {
  text-align: center;
  margin-top: 2.5rem;
}
